body {
    height: 100vh;
    background-image: url(img/mockup-with-clipboard-monstera-leaf-pink-background-flat-lay-top-view-copy-space.jpg);

    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task-container {
    width: 100%;
    padding: 20px 10px;
    background: bisque;
    border-radius: 15px;
    box-shadow: 0 0 3px;
    display: flex;
    margin-bottom: 20px;
    /* outline: none; */

}

input {
    flex: 5;
    margin-right: 10px;
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 10px;
    /* outline: none; */

}

#addTask {
    flex: 1;
    font-size: 1.1rem;
    padding: 5px;
    background-color: #fff;
    color: green;
    border: green solid 2px;
    border-radius: 10px;
    transition: .4s;
}

#addTask:hover {
    background-color: green;
    color: #fff
}

/* Styling for task which get added to to-do list */

.task {
    background-color: bisque;
    width: 100%;
    /* margin: 10px; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* align-items: right; */
    border-radius: 15px;
    margin-bottom: 10px;
}

.task li {
    list-style: none;
    flex: 4;
    padding: 3px;
    font-size: 1.2rem;
    margin: 5px;
}

.task button {
    flex: .5;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
}

.task .checkTask {
    color: orange;
    margin-right: 5px;
    border: solid 2px orange;
    font-size: 1.1rem;
}

.task .checkTask:hover {
    background-color: orange;
    color: #fff;
}

.task .deleteTask {
    color: red;
    border: solid 2px red;
    font-size: 1.1rem;
}

.task .deleteTask:hover {
    background-color: red;
    color: #fff;

}